.triangleWrapper {
  position: relative;
  mix-blend-mode: color-dodge;
  width: 49.5%;
  height: 250px;
}

.title {
  position: absolute;
  top: 0px;
  left: 35%;
  font-weight: 700;
}

.title-number {
  font-size: 9rem;
}

.title-text {
  font-size: 3.5rem;
}

@media only screen and (max-width: 992px) {
  .triangleWrapper {
    width: 60%;
    height: 240px;
  }

  .title-number {
    font-size: 8rem;
  }

  .title-text {
    font-size: 2.5rem;
  }

  .title {
    left: 41%;
    top: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .triangleWrapper {
    width: 60%;
    height: 220px;
  }

  .title {
    left: 37%;
    top: 0px;
  }

  .title-number {
    font-size: 7.5rem;
  }

  .title-text {
    font-size: 2rem;
  }
}
