.triangleWrapper {
  position: relative;
  mix-blend-mode: color-dodge;
  width: 70%;
  height: 130px;
}

.title {
  position: absolute;
  font-weight: 700;
  left: 25%;
  top: -20px;
}

.title-number {
  font-size: 5.8rem;
}

.title-text {
  font-size: 1.4rem;
}

@media only screen and (min-width: 425px) {
  .title {
    left: 35%;
    top: -20px;
  }
}

@media only screen and (min-width: 768px) {
  .triangleWrapper {
    width: 60%;
    height: 25vw;
  }

  .title {
    left: 35%;
    top: -10px;
  }

  .title-number {
    font-size: 15vw;
  }

  .title-text {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 1024px) {
  .triangleWrapper {
    width: 55%;
    height: 15vw;
  }

  .title {
    left: 35%;
    top: -20px;
  }

  .title-number {
    font-size: 10.5vw;
  }

  .title-text {
    font-size: 3.8vw;
  }
}
