.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.codeIcon {
  margin: 10px 14px 10px 0;
}
