.nav-top-fixed {
  position: fixed;
  top: 0;
  height: 43px;
  width: 100vw;
  background-color: var(--bg-black);
  z-index: 100;
}

.nav-top {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 43px;
  width: 100vw;
  background-color: var(--bg-black);
  z-index: 100;
}

.hamburger {
  position: absolute;
  top: 0;
  height: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  padding: 5px 0;
  z-index: 150;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger div {
  width: 40px;
  height: 2.5px;
  background-color: var(--foam);
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 620px;
  color: var(--foam);
}

.links li {
  padding: 4.5px;
  font-size: 0.8rem;
}

.links a,
.links a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.visiting {
  border: 1px solid var(--neon-green);
  border-radius: 7px;
  color: var(--neon-green);
  font-weight: bold;
}

.codeIcon {
  height: 40px;
  width: 40px;
  margin: 16px 0 10px 20px;
  padding-right: 10px;
  position: relative;
}

.resume-button {
  border: 1px solid var(--neon-green);
  border-radius: 7px;
  background: none;
  color: var(--foam);
  margin: 0 50px 0 50px;
  padding: 5px 15px;
}

.nav-bottom {
  position: fixed;
  top: 37px;
  height: 32px;
  width: 100%;
  display: flex;
  background: var(--neon-green);
  background: linear-gradient(
    0deg,
    rgba(102, 253, 45, 0) 0%,
    rgba(19, 19, 19, 1) 38%
  );
  z-index: 100;
}

.nav-bottom:before {
  position: absolute;
  content: "";
  border-top: 1px solid black;
  min-width: 75%;
  right: 0;
  top: 7px;
}

.nav-bottom h1 {
  font-size: 0.9rem;
}

.scroll-bar-fixed {
  background-color: var(--foam);
  height: 5px;
  width: 90px;
  margin: 8px 8px 0 0;
}

.scroll-bar {
  position: absolute;
  left: 252px;
  background-color: var(--foam);
  height: 5px;
  margin: 8px 0 0 8px;
}

@media only screen and (max-width: 992px) {
  .nav-bottom:before {
    min-width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .links {
    width: 500px;
  }

  .resume-button {
    margin: 0 25px 0 25px;
  }
}

@media only screen and (max-width: 700px) {
  .nav-top {
    position: fixed;
    top: 8%;
    align-items: center;
    justify-content: space-between;
    height: 92%;
    width: 40%;
  }

  .links {
    height: 60%;
    flex-direction: column;
  }

  .nav-bottom h1 {
    position: fixed;
    bottom: 12px;
    left: 25px;
  }

  .scroll-bar-fixed {
    position: fixed;
    bottom: 20px;
    width: 20px;
  }
}

@media (min-width: 1921px) {
  .nav-top {
    height: 120%;
  }

  .nav-bottom {
    height: 50px;
    top: 80px;
  }

  .links {
    width: 60%;
  }

  .links li {
    padding: 8px 15px;
    font-size: 25px;
  }

  .codeIcon {
    height: 65px;
    width: 70px;
  }

  .resume-button {
    font-size: 25px;
  }

  .nav-bottom h1 {
    font-size: 20px;
  }

  .scroll-bar-fixed {
    margin-top: 12px;
  }

  .scroll-bar {
    left: 312px;
    margin-top: 12px;
  }
}
