.wrapper {
  height: 666.4px;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  .wrapper {
    height: 556.8px;
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    height: 666.4px;
  }
}
