.wrapper {
  height: 100%;
  background: rgb(48, 16, 42);
  background: linear-gradient(
    0deg,
    rgba(48, 16, 42, 1) 35%,
    rgba(19, 19, 19, 1) 100%
  );
}

.top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 75%;
}

.picture {
  width: 40%;
  position: relative;
}

.img-wrapper {
  position: absolute;
  z-index: 99;
  top: 8.56rem;
  left: 11.5rem;
}

.img-wrapper:before {
  content: "";
  position: absolute;
  top: 53px;
  left: 53px;
  width: 250px;
  height: 250px;
  border: 2px solid var(--foam);
  z-index: -1;
}

.img-wrapper:after {
  content: "";
  position: absolute;
  top: -33px;
  left: -33px;
  width: 250px;
  height: 250px;
  border: 2px solid var(--foam);
  z-index: -1;
}

.info {
  width: 60%;
  position: relative;
}

.info p {
  font-size: 1.5rem;
  position: absolute;
}
.info h2,
.info h1 {
  position: absolute;
  font-weight: bold;
}

.info h1 {
  font-size: 3.3rem;
}

.info h2 {
  font-size: 2.7rem;
}

.t1 {
  top: 10.8rem;
  left: 2rem;
}

.t2 {
  top: 12.75rem;
  left: 5.5rem;
}

.t3 {
  top: 20rem;
  left: 5rem;
}

.t4 {
  top: 21.76rem;
  left: 14.5rem;
}

.description {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.description p {
  font-family: "Fuzzy Bubbles", cursive;
  color: var(--foam);
}

.triangleWrapper {
  position: absolute;
  right: 0;
  border: transparent;
}
