.wrapper {
  height: 100%;
  background: rgb(48, 16, 42);
  background: linear-gradient(
    0deg,
    rgba(48, 16, 42, 1) 35%,
    rgba(19, 19, 19, 1) 100%
  );
}

.top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80%;
  position: relative;
}

.picture {
  width: 100%;
  height: 45%;
  position: relative;
}

.info {
  height: 55%;
  width: 1000%;
  position: relative;
}

.img-wrapper {
  position: absolute;
  z-index: 99;
  top: 12%;
  left: 30%;
  width: 120px;
  height: 120px;
}

.img-wrapper:before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 120px;
  height: 120px;
  border: 2px solid var(--foam);
  z-index: -1;
}

.img-wrapper:after {
  content: "";
  position: absolute;
  top: -10%;
  left: -15%;
  width: 120px;
  height: 120px;
  border: 2px solid var(--foam);
  z-index: -1;
}

.info p {
  font-size: 3vw;
  position: absolute;
  font-weight: bold;
  margin-left: 1%;
}

.info h2,
.info h1 {
  position: absolute;
  font-weight: bold;
  margin-left: 1%;
}

.t1 {
  top: 8%;
  left: 0%;
}

.t2 {
  top: 18%;
  font-size: 7.8vw;
  color: #fff;
  overflow: hidden;
  border-right: 0.15em solid var(--neon-green);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(15, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--neon-green);
  }
}

.t3 {
  top: 60%;
}

.t4 {
  top: 70%;
  font-size: 6.3vw;
}

.description {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 5px;
  padding: 0 40px;
}

.description:after {
  position: absolute;
  content: "";
  bottom: 0;
  border-bottom: 1px solid var(--foam);
  width: 85%;
}

.description p {
  font-family: "Fuzzy Bubbles", cursive;
  color: var(--foam);
  margin: 0 20px;
  font-size: 9px;
}

.triangleWrapper {
  position: absolute;
  right: 0;
  border: transparent;
  mix-blend-mode: color-dodge;
  width: 100%;
  height: 90%;
}

@media only screen and (min-width: 375px) {
  .img-wrapper {
    left: 35%;
    width: 150px;
    height: 150px;
  }

  .img-wrapper:before {
    width: 150px;
    height: 150px;
  }

  .img-wrapper:after {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .img-wrapper {
    top: 25%;
    left: 40%;
    width: 180px;
    height: 180px;
  }

  .img-wrapper:before {
    width: 180px;
    height: 180px;
  }

  .img-wrapper:after {
    width: 180px;
    height: 180px;
  }

  .info p {
    font-size: 2vw;
  }

  .t1 {
    top: 20%;
  }

  .t2 {
    top: 30%;
    left: 0.7%;
    font-size: 6.2vw;
  }

  .t3 {
    top: 72%;
  }

  .t4 {
    top: 82%;
    left: 0.7%;
    font-size: 4.7vw;
  }
}

@media only screen and (min-width: 1024px) {
  .top {
    align-items: center;
    flex-direction: row;
    height: 75%;
    position: relative;
  }

  .picture {
    width: 40%;
    height: 75%;
    position: relative;
  }

  .description {
    height: 25%;
  }

  .img-wrapper {
    top: 25%;
    left: 25%;
    width: 24vw;
    height: 24vw;
  }

  .img-wrapper:before {
    width: 24vw;
    height: 24vw;
  }

  .img-wrapper:after {
    width: 24vw;
    height: 24vw;
  }

  .info {
    width: 60%;
    position: relative;
  }

  .info p {
    font-size: 1.5vw;
  }

  .info h2,
  .info h1 {
    position: absolute;
    font-weight: bold;
  }

  .t1 {
    top: 22%;
    left: 3.5%;
  }

  .t2 {
    top: 30%;
    left: 10%;
    font-size: 4vw;
  }

  .t3 {
    top: 87%;
    left: 8.3%;
  }

  .t4 {
    top: 96%;
    left: 25.5%;
    font-size: 3vw;
  }

  .description p {
    font-size: 1vw;
  }

  .triangleWrapper {
    width: 45vw;
    height: 90%;
  }
}

@media only screen and (min-width: 1080px) {
  .img-wrapper {
    top: 25%;
    left: 25%;
    width: 18vw;
    height: 18vw;
  }

  .img-wrapper:before {
    width: 18vw;
    height: 18vw;
  }

  .img-wrapper:after {
    width: 18vw;
    height: 18vw;
  }

  .t1 {
    top: 15%;
    left: 3.5%;
  }

  .t2 {
    top: 27%;
    left: 10%;
    font-size: 3.8vw;
  }

  .t3 {
    top: 85%;
    left: 8.3%;
  }

  .t4 {
    top: 97%;
    left: 25.5%;
    font-size: 2.8vw;
  }
}
