.triangleWrapper {
  position: relative;
  mix-blend-mode: color-dodge;
  width: 750px;
  height: 250px;
}

.title {
  position: absolute;
  top: 0px;
  left: 530px;
  font-weight: 700;
}

.title-number {
  font-size: 9rem;
}

.title-text {
  font-size: 3.5rem;
}

@media only screen and (max-width: 992px) {
  .triangleWrapper {
    width: 600px;
    height: 200px;
  }

  .title-number {
    font-size: 8rem;
  }

  .title-text {
    font-size: 2.5rem;
  }

  .title {
    left: 400px;
    top: -10px;
  }
}
