.triangleWrapper {
  mix-blend-mode: color-dodge;
}

.title {
  position: absolute;
  top: 0px;
  left: 530px;
  font-weight: bold;
}

.title-number {
  font-size: 9rem;
}

.title-text {
  font-size: 3.5rem;
}
