.wrapper {
  border: 2px solid var(--foam);
  height: 340px;
  width: 40vw;
  background: rgb(48, 16, 42);
  background: linear-gradient(
    0deg,
    rgba(48, 16, 42, 1) 0%,
    rgba(38, 17, 34, 1) 100%
  );
  position: relative;
}

.title {
  text-align: center;
  margin-top: 5px;
  width: 100%;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5px 0;
  height: 85%;
}

.projectImgWrapper {
  width: 75%;
  height: 60%;
  position: relative;
}

.description {
  color: var(--foam);
  margin: 0 5px;
  font-size: 0.8rem;
  text-align: center;
}

.icons-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .wrapper {
    height: 270px;
  }

  .projectImgWrapper {
    width: 80%;
    height: 110px;
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    height: 290px;
  }

  .projectImgWrapper {
    width: 80%;
    height: 130px;
    display: flex;
  }

  .icons-wrapper {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    height: 400px;
  }

  .projectImgWrapper {
    height: 200px;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper {
    width: 60vw;
  }
}
