.wrapper {
  height: 100%;
  background: rgb(48, 16, 42);
  background: linear-gradient(
    0deg,
    rgba(48, 16, 42, 1) 35%,
    rgba(19, 19, 19, 1) 100%
  );
  position: relative;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66.5%;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  margin-bottom: 20px;
  width: 75%;
}

.bottom:after {
  position: absolute;
  content: "";
  bottom: 0;
  border-bottom: 1px solid var(--foam);
  width: 85%;
}

@media only screen and (max-width: 992px) {
  .carousel-wrapper {
    height: 270px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-wrapper {
    height: 290px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .carousel-wrapper {
    height: 400px;
    margin-bottom: 0;
  }
}
