.wrapper {
  height: 100%;
  background: rgb(48, 16, 42);
  background: linear-gradient(
    0deg,
    rgba(48, 16, 42, 1) 35%,
    rgba(19, 19, 19, 1) 100%
  );
  position: relative;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.swipe {
  position: absolute;
  top: 100px;
  color: var(--foam);
  visibility: visible;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.bottom:after {
  position: absolute;
  content: "";
  bottom: 0;
  border-bottom: 1px solid var(--foam);
  width: 85%;
}

.awssld__content {
  background-color: transparent;
}

@media only screen and (min-width: 525px) {
  .swipe {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .bottom {
    height: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .carousel-wrapper {
    width: 85%;
  }
}
