.wrapper {
  height: 100%;
  background: rgb(19, 19, 19);
  background: linear-gradient(
    0deg,
    rgba(19, 19, 19, 1) 23%,
    rgba(48, 16, 42, 1) 67%
  );
  display: flex;
  flex-direction: column;
  position: relative;
}

.bottom-wrapper {
  display: flex;
  align-items: flex-end;
  position: relative;
  align-items: center;
  height: 100%;
}

.bottom {
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 8vw;
  width: 100%;
}

.b1 {
  align-items: center;
}

.b2 {
  width: 72%;
  align-self: flex-start;
}

.bottom-wrapper:after {
  position: absolute;
  content: "";
  bottom: 0;
  border-bottom: 1px solid var(--foam);
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
}

.wifi-wrapper {
  position: absolute;
  display: flex;
  top: 16%;
  right: 8%;
  height: 11vh;
  width: 220px;
  flex-direction: row-reverse;
  color: var(--foam);
  align-items: center;
}

.wifi-img-wrapper {
  width: 13vw;
  height: 12vw;
  position: relative;
}

.wifi-wrapper p {
  font-size: 8px;
  width: 60%;
  opacity: 0.4;
}

@media only screen and (min-width: 768px) {
  .wifi-wrapper {
    top: 5%;
    right: 5%;
    flex-direction: column;
    justify-content: space-between;
    height: 15vw;
    width: 220px;
  }

  .wifi-wrapper p {
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
}
