.wrapper {
  border-left: 2px solid var(--foam);
  padding-left: 25px;
  padding-right: 5px;
  height: 88px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 30px;
}

.icons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.2rem;
  color: var(--foam);
}

.img-wrapper {
  transition: transform 250ms;
  width: 50px;
  height: 50px;
  position: relative;
}

.img-wrapper:hover {
  transform: translateY(-8px);
}

@media only screen and (min-width: 1081px) {
  .wrapper {
    height: 8.4vw;
    width: 21vw;
  }
  .title {
    font-size: 1.6vw;
  }

  .img-wrapper {
    width: 4vw;
    height: 4vw;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    height: 8vw;
    width: 25vw;
  }

  .title {
    font-size: 1.4vw;
  }

  .img-wrapper {
    width: 4vw;
    height: 4vw;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    height: 81px;
    width: 23vw;
  }
  .title {
    font-size: 1.9vw;
  }

  .img-wrapper {
    width: 5vw;
    height: 5vw;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    height: 70px;
    width: 90%;
  }

  .img-wrapper {
    width: 40px;
    height: 40px;
  }

  .title {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    height: 70px;
  }

  .img-wrapper {
    height: 35px;
    margin: 3px;
  }

  .title {
    font-size: 1rem;
  }
}
