.wrapper {
  border-left: 2px solid var(--foam);
  padding-left: 25px;
  padding-right: 5px;
  height: 14vw;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 30px;
}

.icons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icons-wrapper img {
  cursor: pointer;
}

.title {
  font-size: 2.7vw;
  color: var(--foam);
}

.img-wrapper {
  transition: transform 250ms;
  width: 7vw;
  height: 7vw;
  position: relative;
}

.img-wrapper:hover {
  transform: translateY(-8px);
}

@media only screen and (min-width: 425px) {
  .wrapper {
    height: 60px;
    width: 260px;
  }

  .img-wrapper {
    width: 35px;
    height: 35px;
  }

  .title {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    height: 100px;
    width: 350px;
  }

  .img-wrapper {
    width: 55px;
    height: 55px;
  }

  .title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    height: 8vw;
    width: 30%;
  }

  .img-wrapper {
    width: 4vw;
    height: 4vw;
  }

  .title {
    font-size: 1.6vw;
  }
}
