@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

:root {
  --foam: #dff4fd;
  --neon-green: #02ff00;
  --bg-black: #131313;
  --bg-purple: #30102a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gradient-text {
  background: -webkit-linear-gradient(20deg, #dff4fd 0%, #02ff00 100%) 113% 155%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
